# Janus core configuration for YAHAML (container deployment, v1.4.1+)
# Loaded via janus.cfg.d directory mechanism

general: {
  json = "indented"
  debug_level = 4
  interface = "0.0.0.0"
  admin_secret = "changeme"
  api_secret = "changeme"
}

nat: {
  stun_server = "stun.l.google.com"
  stun_port = 19302
}

admin: {
  admin = true
  admin_port = 7088
}

http: {
  http = true
  http_port = 8088
  https = false
  base_path = "/janus"
}

plugins: {
  plugin_folder = "/opt/janus/lib/janus/plugins"
  audiobridge = "libjanus_audiobridge.so"
}
